@charset "UTF-8";
/* header */
#main-header {
  width: 100%; height: 80px;
  background: #222;
}
#main-header .header-innerbox {
  width: 1200px; height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#main-header .logo {
  margin-right: 100px;
}
#main-header .logo a{
  font-size: 2.5rem;
  font-weight: bold;
}
#main-header nav {
  font-size: 1.125rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
